<div style="width: 1200px; border: 1px solid black">
  <onetwocb-character-grid
    [characterGridData]="characterGridData"
    [columns]="12"
    [style]="characterGridStyle"
  ></onetwocb-character-grid>
</div>

<br />

<div style="width: 600px; border: 1px solid black">
  <onetwocb-character-grid
    [characterGridData]="characterGridData"
    [columns]="6"
    [style]="characterGridStyle"
  ></onetwocb-character-grid>
</div>

<br />

<div style="width: 300px; border: 1px solid black">
  <onetwocb-character-grid
    [characterGridData]="characterGridData"
    [columns]="3"
    [style]="characterGridStyle"
  ></onetwocb-character-grid>
</div>
